#indexer/requirements.txt

# Framework da API
flask

# Cliente para o Vector DB
qdrant-client

# Framework de IA e integrações
langchain
langchain-google-genai
langchain-community
google-generativeai

# Ferramenta para chunking de texto
nltk

# Carregadores de Documentos (Document Loaders)
pypdf
python-docx
unstructured # Dependência para o docx loader
openpyxl
pandas
lxml # para xml

# Lib para detectar tipos de ficheiro
python-magic

# Utilitário para ler o .env
python-dotenv