# orquestrador/requirements.txt
# Framework web
flask

# Para fazer chamadas HTTP para outros agentes
requests

# Bibliotecas do Google e LangChain para o agente orquestrador
google-generativeai
langchain
langchain-google-genai
langchain-community

# Para carregar variáveis de ambiente
python-dotenv